body {
  border: 1px solid #000;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.result-box {
  margin: 1rem 0;
  width: 25vw;
  height: 8vh;
  border: 1px solid;
}

.operator button {
  margin: 0 0.5rem;
  padding: 1rem 2rem;
}
