body {
  border: 1px solid #000;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid red;
  width: 40vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
